<div class="card-outer">
    <div class="card-inner">
        <div class="card">
            <div class="card-body" style="background-color: rgb(143, 142, 142,0.5);">
                <h1 class="card-title">1</h1>
            </div>
        </div>
        <div class="card">
            <div class="card-body" style="background: rgb(117, 221, 117,0.5)">
                <h1 class="card-title">1</h1>
            </div>
        </div>
        <div class="card">
            <div class="card-body" style="background-color: rgba(243, 46, 46, 0.5);">
                <h1 class="card-title">1</h1>
            </div>
        </div>
    </div>
</div>